<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bajian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{96,134}}</string>
                <key>offset</key>
                <string>{-3,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,269},{96,134}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>bajian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{96,134}}</string>
                <key>offset</key>
                <string>{-3,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,270},{96,134}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>bajian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{106,134}}</string>
                <key>offset</key>
                <string>{2,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,269},{106,134}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>bajian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{144,176}}</string>
                <key>offset</key>
                <string>{21,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,227},{144,176}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>bajian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{418,186}}</string>
                <key>offset</key>
                <string>{159,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,217},{418,186}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bajian.pvr.ccz</string>
            <key>size</key>
            <string>{872,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c447d9020bfc4319173f8242fbc8414:1/1$</string>
            <key>textureFileName</key>
            <string>bajian.pvr.ccz</string>
        </dict>
    </dict>
</plist>
