<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dance_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{58,80}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{58,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dance_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{56,78}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{56,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dance_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,166},{52,76}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{52,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dance_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,78}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{66,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dance_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{68,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{68,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dance_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,82},{54,82}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{54,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance_1.pvr.ccz</string>
            <key>size</key>
            <string>{128,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff01bbfc1fe0359f1afd92e8e857fda3:1/1$</string>
            <key>textureFileName</key>
            <string>dance_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
