<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guangquan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,63},{178,54}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>guangquan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{178,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{178,52}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>guangquan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{176,54}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,62},{176,54}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>guangquan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{178,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,63},{178,52}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>guangquan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{178,54}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guangquan.pvr.ccz</string>
            <key>size</key>
            <string>{900,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:791820e9744c40f16ce652f99b9516d2:1/1$</string>
            <key>textureFileName</key>
            <string>guangquan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
