<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,840},{101,135}}</string>
                <key>offset</key>
                <string>{-3,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,294},{101,135}}</string>
                <key>sourceSize</key>
                <string>{851,851}</string>
            </dict>
            <key>hit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,498},{371,273}}</string>
                <key>offset</key>
                <string>{96,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,159},{371,273}}</string>
                <key>sourceSize</key>
                <string>{851,851}</string>
            </dict>
            <key>hit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{207,385}}</string>
                <key>offset</key>
                <string>{-47,185}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,48},{207,385}}</string>
                <key>sourceSize</key>
                <string>{851,851}</string>
            </dict>
            <key>hit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,211},{205,309}}</string>
                <key>offset</key>
                <string>{-25,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,122},{205,309}}</string>
                <key>sourceSize</key>
                <string>{851,851}</string>
            </dict>
            <key>hit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,848},{115,155}}</string>
                <key>offset</key>
                <string>{-9,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,279},{115,155}}</string>
                <key>sourceSize</key>
                <string>{851,851}</string>
            </dict>
            <key>hit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,840},{109,129}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,300},{109,129}}</string>
                <key>sourceSize</key>
                <string>{851,851}</string>
            </dict>
            <key>hit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,840},{101,135}}</string>
                <key>offset</key>
                <string>{-3,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,294},{101,135}}</string>
                <key>sourceSize</key>
                <string>{851,851}</string>
            </dict>
            <key>hit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{139,157}}</string>
                <key>offset</key>
                <string>{-11,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,274},{139,157}}</string>
                <key>sourceSize</key>
                <string>{851,851}</string>
            </dict>
            <key>hit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,522},{205,219}}</string>
                <key>offset</key>
                <string>{-4,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,212},{205,219}}</string>
                <key>sourceSize</key>
                <string>{851,851}</string>
            </dict>
            <key>hit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,435}}</string>
                <key>offset</key>
                <string>{8,208}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,0},{295,435}}</string>
                <key>sourceSize</key>
                <string>{851,851}</string>
            </dict>
            <key>hit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,439},{399,299}}</string>
                <key>offset</key>
                <string>{-155,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,133},{399,299}}</string>
                <key>sourceSize</key>
                <string>{851,851}</string>
            </dict>
            <key>hit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,211},{383,285}}</string>
                <key>offset</key>
                <string>{-151,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,147},{383,285}}</string>
                <key>sourceSize</key>
                <string>{851,851}</string>
            </dict>
            <key>hit_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{389,247}}</string>
                <key>offset</key>
                <string>{128,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,221},{389,247}}</string>
                <key>sourceSize</key>
                <string>{851,851}</string>
            </dict>
            <key>hit_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{407,239}}</string>
                <key>offset</key>
                <string>{139,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,221},{407,239}}</string>
                <key>sourceSize</key>
                <string>{851,851}</string>
            </dict>
            <key>hit_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,773},{349,237}}</string>
                <key>offset</key>
                <string>{108,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,198},{349,237}}</string>
                <key>sourceSize</key>
                <string>{851,851}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit.pvr.ccz</string>
            <key>size</key>
            <string>{1140,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4703737416d5e9b4ac727b511c9369b:1/1$</string>
            <key>textureFileName</key>
            <string>hit.pvr.ccz</string>
        </dict>
    </dict>
</plist>
