<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brickSpring_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,63}</string>
                <key>spriteSourceSize</key>
                <string>{196,63}</string>
                <key>textureRect</key>
                <string>{{199,1},{196,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brickSpring_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,54}</string>
                <key>spriteSourceSize</key>
                <string>{196,54}</string>
                <key>textureRect</key>
                <string>{{199,66},{196,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brickSpring_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,70}</string>
                <key>spriteSourceSize</key>
                <string>{196,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>brickSpring.pvr.ccz</string>
            <key>size</key>
            <string>{396,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c66dc663ac4fbc85c0bff263597adad7:5b3f5c5b5ae0762515cd01a78d82ec32:f08e53d909c10a6245da0512d5adc57b$</string>
            <key>textureFileName</key>
            <string>brickSpring.pvr.ccz</string>
        </dict>
    </dict>
</plist>
