<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>courier_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{119,150}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,150}}</string>
                <key>sourceSize</key>
                <string>{125,150}</string>
            </dict>
            <key>courier_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{109,150}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{125,150}</string>
            </dict>
            <key>courier_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{125,142}}</string>
                <key>sourceSize</key>
                <string>{125,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>courier.pvr.ccz</string>
            <key>size</key>
            <string>{450,129}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c6748e386b6c9c4889da68f4a04bf33:1/1$</string>
            <key>textureFileName</key>
            <string>courier.pvr.ccz</string>
        </dict>
    </dict>
</plist>
